# coding: utf-8

"""
    IP RL BSP API

    IP RL BSP API for participation in capacity/energy market tenders.  # noqa: E501

    OpenAPI spec version: 3.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class TendersApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_tender(self, id, **kwargs):  # noqa: E501
        """Get tender  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_tender(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TenderIdentification id: Identificiation of requested tender. (For details on the new tender id format, see the [reference guide.](/docs/guide#tender-id)) (required)
        :return: Tender
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_tender_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_tender_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_tender_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get tender  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_tender_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TenderIdentification id: Identificiation of requested tender. (For details on the new tender id format, see the [reference guide.](/docs/guide#tender-id)) (required)
        :return: Tender
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_tender" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_tender`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/tenders/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Tender',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_tender_demand(self, id, **kwargs):  # noqa: E501
        """Demand of tender  # noqa: E501

        Returns the specific demand of the tender.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_tender_demand(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TenderIdentification id: Identificiation of requested tender. (For details on the new tender id format, see the [reference guide.](/docs/guide#tender-id)) (required)
        :return: list[Demand]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_tender_demand_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_tender_demand_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_tender_demand_with_http_info(self, id, **kwargs):  # noqa: E501
        """Demand of tender  # noqa: E501

        Returns the specific demand of the tender.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_tender_demand_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TenderIdentification id: Identificiation of requested tender. (For details on the new tender id format, see the [reference guide.](/docs/guide#tender-id)) (required)
        :return: list[Demand]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_tender_demand" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_tender_demand`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/tenders/{id}/demands', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Demand]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_tender_list(self, **kwargs):  # noqa: E501
        """List tenders (optionally capacity/energy market)  # noqa: E501

        Returns the list of capacity/energy market tenders sorted in the following order:   * `gateClosureTime`,   * `productType`.  The result list can be reduced as required by specifying combinations of different filter parameters.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_tender_list(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param date delivery_date: Only tenders for the specified delivery date are listed (ISO 8601 format YYYY-MM-DD). If not specified, then only tenders for today and tomorrow are listed.
        :param ReserveMarket market: If not specified, then only tenders for capacity market will be listed.
        :param ProductType product_type: Product type filter. If this query parameter is not set, tenders for all product types are returned.
        :return: list[Tender]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_tender_list_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_tender_list_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_tender_list_with_http_info(self, **kwargs):  # noqa: E501
        """List tenders (optionally capacity/energy market)  # noqa: E501

        Returns the list of capacity/energy market tenders sorted in the following order:   * `gateClosureTime`,   * `productType`.  The result list can be reduced as required by specifying combinations of different filter parameters.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_tender_list_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param date delivery_date: Only tenders for the specified delivery date are listed (ISO 8601 format YYYY-MM-DD). If not specified, then only tenders for today and tomorrow are listed.
        :param ReserveMarket market: If not specified, then only tenders for capacity market will be listed.
        :param ProductType product_type: Product type filter. If this query parameter is not set, tenders for all product types are returned.
        :return: list[Tender]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['delivery_date', 'market', 'product_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_tender_list" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'delivery_date' in params:
            query_params.append(('delivery-date', params['delivery_date']))  # noqa: E501
        if 'market' in params:
            query_params.append(('market', params['market']))  # noqa: E501
        if 'product_type' in params:
            query_params.append(('product-type', params['product_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/tenders', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Tender]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
